@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: #f3f3f3;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}